:root {
  --primary: #3d329e;
  --text: #4a4a4a;
}
#About {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

#About * {
  color: var(--text);
}

@media screen and (min-width: 769px) {
  #About {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
  }
}

@media screen and (max-width: 768px) {
  #About {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
}

.About__title {
  font-size: 1.5rem;
  text-align: right;
  padding-bottom: 2rem;
  letter-spacing: 1.5px;
}
.About__subtitle {
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 768px) {
  .About__title {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .About__subtitle {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2.4rem;
    font-weight: normal;
  }
}

@media screen and (min-width: 769px) {
  .About__title {
    font-size: 2.6rem;
    width: 33%;
    letter-spacing: 3px;
    text-align: right;
    margin-right: 2.2rem;
    padding-bottom: 0;
  }
  .About__subtitle {
    font-size: 1.7rem;
    text-align: justify;
    margin-left: 2.2rem;
    width: 40%;
    font-weight: normal;
    float: right;
    height: 100%;
  }
}

.About__Divider {
  height: 150px;
  width: 2px;
  color: var(--text);
}

@media screen and (max-width: 768px) {
  .About__Divider {
    display: none;
  }
}

#About__Features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.About__Features-Card {
  flex-basis: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  color: var(--text);
  display: flex;
}

@media screen and (max-width: 768px) {
  .About__Features-Card {
    font-size: 1rem;
    height: 400px;
    line-height: 2.2rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .About__Features-Card {
    line-height: 2.4rem;
    height: 400px;
  }
}

.About__Features-CardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.About__Features-CardTitle {
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-size: 1.2rem;
  color: var(--text);
}

.About__Features-CardText {
  font-size: 1.2rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .About__Features-CardIcon {
    font-size: 5rem;
    color: var(--primary);
    width: 200px;
    height: 20px;
  }
}

@media screen and (min-width: 769px) {
  .About__Features-CardIcon {
    font-size: 10rem;
    color: var(--primary);
    width: 200px;
    height: 100px;
  }
}
