.Content__Error-Alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 30vh;
}

.Content__Error-Alert > * {
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
}
