.Content__Error-Alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .Content__Error-Alert {
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .Content__Error-Alert {
    height: 25vh;
  }
}

.Content__Error-Alert > * {
  font-size: 2.4rem;
  padding: 0;
  line-height: 3rem;
}

@media screen and (max-width: 768px) {
  .Content__Error-Alert > * {
    font-size: 2rem;
  }
}

.Spinner__Container {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
