.Adverts
  width: 100%
  min-height: 100%
  margin-top: 1rem
  margin-bottom: 1rem
  padding-left: 3rem
  padding-right: 3rem
  +min-md
    margin-top: 4rem
  text-align: center
.NoResults
  font-size: 1rem
  +min-md
    font-size: 1.4rem
.AdvertsList
  display: flex
  margin-left: auto
  margin-right: auto
  flex-wrap: wrap
  gap: 32px
  justify-content: center
  padding: 4rem 2rem 4rem 2rem
  min-height: 25vh
  +min-sm
    max-width: 728px
  +min-md
    justify-content: flex-start
    max-width: 1028px
  +min-lg
    max-width: 1366px
    gap: 32px
    display: flex
    justify-content: center
