{
	"presets": ["next/babel"],
	"plugins": [
		[
			"inline-react-svg",
			{
				"svgo": {
					"plugins": [
						{
							"name": "removeAttrs",
							"params": { "attrs": "(data-prefix|aria-hidden|data-icon)" }
						},
						"cleanupIDs"
					]
				}
			}
		]
	]
}
