{
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 100 }]
  },
  "plugins": ["prettier", "react"]
}
