#Header {
  align-items: center;
  background-image: url('../../../assets/img/bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  #Header {
    height: 66vh;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  #Header {
    height: 100%;
  }
}

img.Header__logo {
  width: 140px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .Header__logo {
    width: 15vw;
  }
}

.Header__Form-Controlls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .Header__Form-Controlls {
    height: 25vh;
  }
}

.Header__Form-Controll {
  opacity: 0.85;
  width: 66vw;
  line-height: 1rem;
}

@media screen and (min-width: 769px) {
  .Header__Form-Controll {
    width: 20vw;
  }
}

.Header__Form-Controll * {
  font-size: 1.3rem;
  font-weight: bold;
}

.Header__Form-Inputs {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  letter-spacing: 1.3px;
}

.global-search.ant-select-auto-complete
  .ant-input-affix-wrapper
  .ant-input-suffix {
  right: 0;
}

.Header__CallToAction {
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: 0.4s;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .Header__CallToAction {
    margin-bottom: 2rem;
  }
}
.Header__CallToAction:active {
  transform: scale(0.97);
}
