*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: $ligth;
  text-decoration: none;
  border-bottom: 2px solid;
  transform: translateY(2px);
  border-bottom-color: transparent;
  transition: 0.2s;
}

a:link:hover,
a:visited:hover {
  border-bottom-color: $ligth;
}
