*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a:link,
a:visited {
  color: $ligth;
  text-decoration: none;
  border-bottom: 2px solid;
  transform: translateY(2px);
  border-bottom-color: transparent;
  transition: 0.2s;
}

a:link:hover,
a:visited:hover {
  border-bottom-color: $ligth;
}

.divider {
  display: none;

  @include tablet {
    display: inline-block;
    width: 2px;
    background-color: #aaa;
  }

  @include desktop {
    display: inline-block;
    width: 2px;
    background-color: #aaa;
    height: 12rem;
  }
}
