/*FEEDBACK AND FILTER CONTAINER */

#FeedbackAndFilter {
  display: flex;
  width: 100%;
  height: 30vh;
  background-color: #f5f5f5;
}

.FeedbackContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.FilterContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.FilterContainer__FilterOptions {
  width: 20%;
  font-size: 1rem;
}

.FeedbackContainer__small {
  font-size: 1.4rem;
}

.FeedbackContainer__large {
  font-size: 2.4rem;
  font-weight: bold;
}

.FilterContainer > span {
  font-size: 1.4rem;
  font-weight: bold;
}

/*ADVERTS LIST CONTAINER */

#AdvertsList {
  height: 100%;
  width: 90%;
  margin: 8rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*ADVERTS ITEM CONTAINER */

.AdvertsItem__Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  margin: 4rem auto;
}

.AdvertsItem__Card > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 400px;
  min-height: 100%;
}
