@import '../abstract/mixins';
@import '../abstract/variables';

.Card {
  margin: 4rem 8rem !important;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15) !important;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 95%;
  min-height: 480px;

  @include tablet {
    min-width: 0px;
    max-width: 340px !important;
    flex-basis: 340px;
  }

  @include desktop {
    min-width: 0px;
    max-width: 400px !important;
    flex-basis: 400px;
  }

  & > button:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__btn--primary {
    width: 66%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1.3rem !important;
    text-align: center !important;
  }

  &__btn--secondary {
    width: 66%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1.3rem !important;
  }
}
