@import '../abstract/mixins';
@import '../abstract/variables';

.Card {
  margin: 4rem 8rem !important;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15) !important;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-around;
  min-width: 90%;
  min-height: 450px;

  @include tablet {
    min-width: 0px;
    max-width: 300px;
    flex-basis: 300px;
    flex-wrap: wrap;
  }

  @include desktop {
    min-width: 0px;
    min-height: 450px;
    max-width: 300px;
    flex-basis: 250px;
  }

  & > button:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__btn--primary {
    width: 66%;
    height: 100%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1.5rem !important;
    text-align: center !important;

    &:hover {
      box-shadow: none !important;
      outline: none;
    }
  }

  &__btn--secondary {
    width: 66%;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1.3rem !important;
  }

  &__Icon {
    color: $violet;
    font-size: 40px;
  }
}
