@import '../abstract/variables';
@import '../abstract/mixins';

.Form {
  @include flexCenter;
  flex-wrap: wrap;

  &__Input {
    background-color: white;
    color: $dark;
    font-size: 1.2rem;
    letter-spacing: 0.6px;
    opacity: 0.8 !important;
    height: 3.5rem;
    border: 0;
    border-radius: 4px;
    margin: 2rem 2rem;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    text-indent: 2.5rem;
  }
  .Search {
    background: white no-repeat scroll 7px 7px url('../../img/search-icon.svg');
  }
  .Select {
    background: white no-repeat scroll 7px 7px
      url('../../img/location-icon.svg');
  }

  button {
    width: 33%;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
