@import '../abstract/mixins';

.modal-card {
  @include absoluteCenter;
  width: 95%;
  overflow: auto !important;

  padding: 3rem;
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
