#Header {
  height: 66vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('../assets/img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.Header__logo {
  max-width: 150px;
}

.Header__Autocomplete {
  display: inline-block;
  height: 100%;
  font-size: 1.4rem !important;
  background-color: whitesmoke;
  opacity: 0.8;
  padding: 4px;
  border-radius: 6px;
  left: 2px;
  position: relative;
}

.Header__Autocomplete > * {
  position: relative;
  left: 4rem;
  color: #4a4a4a !important;
  opacity: 0.8;
  color: black !important;
  letter-spacing: 1.1px;
}

.Header__Autocomplete::after {
  border-bottom: none !important;
}

.Header__Autocomplete-Icon {
  position: relative;
  display: inline-block;
  top: 1.4rem;
  left: 4rem;
  z-index: 1;
}
