.Container
  padding: 0 10px
  width: 100%
  margin: 60px auto
  max-width: calc(100vw - 16px)

  +min-sm
    margin: 100px auto
    max-width: calc(100vw - 32px)
  +min-md
    margin: 80px auto
    max-width: calc(100vw - 64px)
  +min-lg
    max-width: calc(100vw - 128px)
