.Features
  align-items: center
  color: var(--gray70)
  display: flex
  justify-content: center
  flex-direction: column
  width: 100%
  +min-md
    flex-direction: row
    align-items: center
    justify-content: space-around
