@import '../abstract/variables';

.footer {
  height: 12vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: $violet;
  color: $cream;
  letter-spacing: 1.2px;
}
