@import '../abstract/variables';
@import '../abstract/mixins';

.Header {
  background-size: cover;
  height: 366px;
  @include flexCenter;

  flex-direction: column;

  @include tablet {
    height: 380px;
  }
  @include desktop {
    height: 500px;
  }

  background-image: url('../../img/bg-desk.jpg');
  background-position: center;

  &__logo {
    max-width: 120px;
    opacity: 0.9;
    cursor: pointer;
    position: relative;
    top: -1.2rem;

    @include desktop {
      position: absolute;
      top: 0.5rem;
      left: 1.5rem;
    }
  }
}
