@import '../abstract/variables';
@import '../abstract/mixins';

#Search {
  background-size: cover;
  height: 300px;
  @include tablet {
    height: 350px;
  }
  @include desktop {
    height: 500px;
  }

  background-image: url('../../img/bg-desk.jpg');
  background-position: center;

  @include flexCenter;
}
