.Jobs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  h3.job__title {
    line-height: 1.7;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  h4.job__date {
    text-transform: uppercase;
    margin-left: auto;
    margin-bottom: 1.5rem;
  }

  p.job__description {
    text-align: justify;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }
}
